---
import TopNav from '../components/TopNav.astro';
import BottomNav from '../components/BottomNav.astro';
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description = 'Photos and projects by ritnoppakun.' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <TopNav />
    <main>
      <slot />
    </main>
    <BottomNav />
  </body>
</html>
